.box {
  // border-color: lightgrey;
  
}

input {
  border: 1px solid #D1D1D6;
  border-radius: 3px;
  padding: 8px 0;
  width: 323px;
  height: 36px;
  outline: none;
  transition: 0.3s ease;
  caret-color: #1A1A1E;
  color: #1A1A1E;
  text-indent: 8px;
  // caret-shape: underscore;
}

input:focus {
  // border-color: #84CAFF;
  outline: none;
  border-color: #2E90FA;
  box-shadow: #84CAFF 0px 0px 0px 2px;
  transition: .3s ease;
  // caret-shape: underscore;
}

input::after {
  content: 'test';
  width: 20px;
  height: 20px;
  color: red;
  z-index: 100;
}

input::selection {
  background-color: #1A1A1E;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f8fa inset;
  font-family: Inter, sans-serif;
}

input::placeholder{
  color: #70707B;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 24px;
  
}

